.project {
  position: relative;
  margin: 8rem auto;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    .content .h5 {
      text-align: left !important;
      align-self: 'stretch';
    }
    .badge {
      &:nth-child(even) {
        margin: 0 1rem !important;
      }
    }
    flex-direction: column !important;
    z-index: -1;
    > a {
      position: absolute;
      z-index: -1;
      pointer-events: none;
      backface-visibility: hidden;
    }
    .content {
      direction: ltr !important;
      width: auto !important;
      margin-left: 0.3rem;
      backface-visibility: hidden;
    }
    .project-desc {
      text-align: left !important;
      padding: 1rem;
    }
    .project-img {
      animation: none;
      pointer-events: none;
      &:before {
        animation: none;
        background-color: rgba(#000000, 0.8);
      }
      .borders {
        transform: translate(-1px, -1px);
        box-shadow: 0px 0px 12px 1px #00ffec;
      }
    }
  }
  .content {
    position: relative;
    width: 550px;
    z-index: 10;
  }
  .h3,
  .h5 {
    position: relative;
  }
  .h3 {
    margin-bottom: 0.5rem;
  }
  .h5 {
    margin: 0;
  }
  .badges {
    .badge {
      visibility: visible;
    }
    :nth-child(even) {
      margin: 0 2rem;
    }
  }
  .icons {
    margin-top: 0.5rem;
    :nth-child(2) {
      margin: 0 2rem;
    }
  }
}
