.badge {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  background: #293e4e;
  padding: 4px 0;
  border-radius: 28px;
  width: 128px;
  text-align: center;
  border: 1px solid #00ffec;
  color: #00ffec;
}
