.badge {
  visibility: hidden;
  position: relative;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  background: #153044;
  padding: 4px 0;
  border-radius: 28px;
  width: 128px;
  text-align: center;
  border: 1px solid #00ffec;
  color: #00ffec;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @media only screen and (max-width: 800px) {
    font-size: 14px;
    padding: 3px 0;
    width: 108px;
  }
  @media only screen and (max-width: 400px) {
    font-size: 12px;
    padding: 0.5px 0;
    width: 92px;
  }
}
