.Home {
  .h1,
  .h2,
  .h3,
  .h4,
  svg {
    position: relative;
    .path {
      stroke-dasharray: 1400;
      stroke-dashoffset: 0;
    }
  }
  svg {
    cursor: pointer;
  }
  .filter {
    filter: drop-shadow(1px 1px 2px #00ffec);
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    .main-text {
      margin-left: 5rem;
      @media only screen and (max-width: 800px) {
        margin-left: 2rem;
      }
    }
  }
  @media only screen and (max-width: 700px) {
    svg {
      display: none;
    }
  }
  .h1 {
    line-height: 80px;
  }
  .h3 {
    line-height: 36px;
    margin-bottom: 1rem;
  }
  .h4 {
    line-height: 48px;
    min-width: max-content;
  }
  .footer {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.8s opacity ease;
    .links-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .show-more {
      margin-top: 35px;
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #c5c6c7;
      cursor: pointer;
      transition: color 0.4s ease;
      &:hover {
        color: #00ffec;
        .cta-line {
          background-color: #00ffec;
        }
      }
    }
    .cta-line {
      height: 40px;
      width: 1px;
      margin: 1rem auto 0 auto;
      background-color: #c5c6c7;
      transition: background-color 0.4s ease;
    }
  }
}
