.project-desc {
  margin: 2rem;
  padding: 2rem;
  width: 550px;
  z-index: 1;
  background: #293e4e;
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #ffffff;
  position: relative;
}
