@import url('https://fonts.googleapis.com/css2?family=Economica&family=Poppins&family=Quicksand&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  background-color: #001224;
  margin: 0;
}
.App {
  visibility: hidden;
}
.container {
  margin: 0 6rem;
  @media only screen and (max-width: 1200px) {
    margin: 0 3rem;
  }
  @media only screen and (max-width: 800px) {
    margin: 0 1rem;
  }
}
.mx-2 {
  margin: 0 2rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.text-center {
  text-align: center;
}

.forbidden {
  cursor: not-allowed !important;
}

.title {
  color: white;
  font-size: 32px;
  font-family: Quicksand;
  margin: 5rem 0;
  .q3 {
    font-size: 32px;
  }
  @media only screen and (max-width: 800px) {
    margin: 2rem 0 -2rem 0;
    font-size: 24px;
    .q3 {
      font-size: 24px;
    }
  }
}

.h {
  &1 {
    font-family: Poppins;
    font-size: 64px;
    color: #ffffff;
  }
  &2 {
    font-family: Quicksand;
    font-size: 48px;
    margin-bottom: 8px;
    color: #ffffff;
  }
  &3 {
    font-family: Quicksand;
    font-size: 36px;
    color: #ffffff;
  }
  &4 {
    font-family: Quicksand;
    font-size: 36px;
    color: #c5c6c7;
  }

  &5 {
    font-family: Quicksand;
    font-size: 24px;
    color: #ffffff;
  }
}

.q {
  &1 {
    font-family: Economica;
    color: #00ffec;
    font-size: 60px;
  }
  &2 {
    font-family: Economica;
    color: #00ffec;
    font-size: 48px;
  }
  &3 {
    font-family: Economica;
    color: #00ffec;
    font-size: 24px;
  }
}

button.cta {
  background-color: rgba(0, 0, 0, 0);
}

.text-large {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  color: #ffffff;
}
.text-medium {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  color: #c5c6c7;
  &:before {
    content: '';
    margin-right: 1rem;
    margin-bottom: 5px;
    width: 7px;
    height: 2px;
    color: wheat;
    display: inline-block;
    background-color: #00ffec;
  }
}
.text-small {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  color: #c5c6c7;
  line-height: 24px;
}

.icon {
  cursor: pointer;
  path {
    transition: fill 0.4s;
  }
  &:hover {
    & > path {
      fill: #00ffec !important;
    }
  }
}

a {
  text-decoration: none;
  &.link {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #00ffec;
  }
  &.mail {
    font-family: Economica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: ease-in color 0.4s;
    &:hover {
      color: #00ffec;
    }
  }
}

.form-control {
  margin: 20px 0;
  .h5 {
    margin-bottom: 2px;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px #153044 inset;
    -webkit-text-size-adjust: 24px;
    -webkit-text-fill-color: #fff;
  }
  @media only screen and (max-width: 600px) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-size-adjust: 18px;
      font-size: 18px;
    }
  }
  .input {
    display: block;
    width: 100%;
    margin-top: 4px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 24px;
    font-family: Quicksand;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #00ffec;
    &:focus {
      outline: 0;
      background-color: #153044;
      &::placeholder {
        color: rgba($color: #909daa, $alpha: 0.5);
      }
    }
    &::placeholder {
      color: #909daa;
      font-family: Quicksand;
      font-size: 24px;
      line-height: 30px;
      &:focus {
        // color: rgba($color: #909daa, $alpha: 1);
      }
      @media only screen and (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}

.hr {
  height: 1px;
  background-color: #c5c6c7;
  width: 100%;
}

.white {
  color: #fff !important;
}
.cta {
  display: inline-block;
  position: relative;
  border: 2px solid #00ffec;
  padding: 1rem;
  width: 165px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: rgba(#00ffec, 0.2);
  }
  &:active {
    background-color: rgba(#00ffec, 0.1);
  }
  &-active {
    background-color: rgba(0, 255, 236, 0.1);
  }
}
.text-center {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .h {
    &1 {
      font-size: 48px; //64
    }
    &2 {
      font-size: 36px; //48
    }
    &3 {
      font-size: 24px; //36
    }
    &4 {
      font-size: 24px; //36
    }

    &5 {
      font-size: 18px; //24
    }
  }

  .q {
    &1 {
      font-size: 45px; //60
    }
    &2 {
      font-size: 36px; //48
    }
    &3 {
      font-size: 18px; //24
    }
  }

  .text-large {
    font-size: 18px; //24
  }
  .text-medium {
    font-size: 16px; //20
  }
  .text-small {
    font-size: 14px; //18
  }

  a {
    &.link {
      font-size: 18px; //24
    }
    &.mail {
      font-size: 18px; //24
    }
  }
}
