@import url('https://fonts.googleapis.com/css2?family=Economica&family=Poppins&family=Quicksand&display=swap');

body {
  background-color: #1f2833;
}
.container {
  margin: 0 6rem;
}
.h {
  &1 {
    font-family: Poppins;
    font-size: 64px;
    color: #ffffff;
    margin: 1rem 0;
  }
  &2 {
    font-family: Quicksand;
    font-size: 48px;
    margin-bottom: 8px;
    color: #ffffff;
    margin: 1rem 0;
  }
  &3 {
    font-family: Quicksand;
    font-size: 36px;
    color: #ffffff;
    margin: 1rem 0;
  }
  &4 {
    font-family: Quicksand;
    font-size: 36px;
    color: #c5c6c7;
    margin: 1rem 0;
  }

  &5 {
    font-family: Quicksand;
    font-size: 24px;
    color: #ffffff;
    margin: 1rem 0;
  }
}

.q {
  &1 {
    font-family: Economica;
    color: #00ffec;
    font-size: 60px;
    margin: 1rem 0;
  }
  &2 {
    font-family: Economica;
    color: #00ffec;
    font-size: 48px;
    margin: 1rem 0;
  }
  &3 {
    font-family: Economica;
    color: #00ffec;
    font-size: 24px;
    margin: 1rem 0;
  }
}

p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  &.text-large {
    font-size: 24px;
    color: #ffffff;
  }
  &.text-medium {
    font-size: 20px;
    color: #c5c6c7;
  }
  &.text-small {
    font-size: 18px;
    color: #c5c6c7;
  }
}

a {
  &.link {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #00ffec;
  }
  &.mail {
    font-family: Economica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.hr {
  height: 1px;
  background-color: #c5c6c7;
  width: 100%;
}
