@import url('https://fonts.googleapis.com/css2?family=Economica&family=Poppins&family=Quicksand&display=swap');

body {
  background-color: #1f2833;
}
.container {
  margin: 0 6rem;
}

.h {
  &1 {
    font-family: Poppins;
    font-size: 64px;
    color: #ffffff;
  }
  &2 {
    font-family: Quicksand;
    font-size: 48px;
    margin-bottom: 8px;
    color: #ffffff;
  }
  &3 {
    font-family: Quicksand;
    font-size: 36px;
    color: #ffffff;
  }
  &4 {
    font-family: Quicksand;
    font-size: 36px;
    color: #c5c6c7;
  }

  &5 {
    font-family: Quicksand;
    font-size: 24px;
    color: #ffffff;
  }
}

.q {
  &1 {
    font-family: Economica;
    color: #00ffec;
    font-size: 60px;
  }
  &2 {
    font-family: Economica;
    color: #00ffec;
    font-size: 48px;
  }
  &3 {
    font-family: Economica;
    color: #00ffec;
    font-size: 24px;
  }
}

p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  &.text-large {
    font-size: 24px;
    color: #ffffff;
  }
  &.text-medium {
    font-size: 20px;
    color: #c5c6c7;
  }
  &.text-small {
    font-size: 18px;
    color: #c5c6c7;
    line-height: 24px;
  }
}

a {
  text-decoration: none;
  &.link {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #00ffec;
  }
  &.mail {
    font-family: Economica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.hr {
  height: 1px;
  background-color: #c5c6c7;
  width: 100%;
}

.white {
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .h {
    &1 {
      font-size: 48px; //64
    }
    &2 {
      font-size: 36px; //48
    }
    &3 {
      font-size: 24px; //36
    }
    &4 {
      font-size: 24px; //36
    }

    &5 {
      font-size: 18px; //24
    }
  }

  .q {
    &1 {
      font-size: 45px; //60
    }
    &2 {
      font-size: 36px; //48
    }
    &3 {
      font-size: 18px; //24
    }
  }

  p {
    &.text-large {
      font-size: 18px; //24
    }
    &.text-medium {
      font-size: 16px; //20
    }
    &.text-small {
      font-size: 14px; //18
    }
  }

  a {
    &.link {
      font-size: 18px; //24
    }
    &.mail {
      font-size: 18px; //24
    }
  }
}
