.project-img {
  position: relative;
  width: 550px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &-right:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(8px, 8px);
    transition: all 0.6s;
    border: 1px solid #00ffec;
    z-index: -2;
  }
  &-left:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-8px, 8px);
    transition: all 0.6s;
    border: 1px solid #00ffec;
    z-index: -2;
  }

  &:hover {
    &:after {
      transform: translate(-1px, -1px);
      box-shadow: 0px 0px 12px 1px #00ffec;
      animation: shadow-animation 2s infinite;
      animation-delay: 0.6s;
    }
    &:before {
      animation: 0.6s ease-in transparent-effect-in forwards;
      animation-iteration-count: 1;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 0.6s ease-in transparent-effect-out forwards;
    background-color: rgba($color: #00ffec, $alpha: 0.25);
  }
}

@keyframes shadow-animation {
  0% {
    box-shadow: 0px 0px 12px 1px #00ffec;
  }
  50% {
    box-shadow: 0px 0px 10px 1px #06dfd0;
    // box-shadow: 0px 0px 17px 1px #036b64;
  }
  100% {
    box-shadow: 0px 0px 12px 1px #00ffec;
  }
}
@keyframes transparent-effect-in {
  0% {
    background-color: rgba($color: #00ffec, $alpha: 0.25);
  }
  50% {
    background-color: rgba(41, 62, 78, 0.6);
  }
  100% {
    background-color: rgba($color: #00ffec, $alpha: 0);
  }
}
@keyframes transparent-effect-out {
  0% {
    background-color: rgba($color: #00ffec, $alpha: 0);
  }
  50% {
    background-color: rgba(41, 62, 78, 0.6);
  }
  100% {
    background-color: rgba($color: #00ffec, $alpha: 0.25);
  }
}
// .project-img-left {
//   position: relative;
//   width: 550px;
//   height: 350px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   cursor: pointer;

//   &:after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     transform: translate(-8px, 8px);
//     transition: all 0.6s;
//     border: 1px solid #00ffec;
//     z-index: -2;
//   }
//   &:hover {
//     &:after {
//       transform: translate(-1px, -1px);
//       box-shadow: 0px 0px 12px 1px #00ffec;
//       animation: shadow-animation 2s infinite;
//       animation-delay: 0.6s;
//     }
//     &:before {
//       animation: 0.6s ease-in transparent-effect forwards;
//       animation-iteration-count: 1;
//     }
//   }
//   &:before {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: rgba($color: #00ffec, $alpha: 0.25);
//   }
// }
